.dropdown-menu2 {
  position: absolute;
  top:60px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(32,32,32);
  border-radius:10px;
  transition: all .5s;
  display:block;
}
.dropdown-list{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
.dropdown-image{
  padding: 15px 15px;
  width: 10vw;
  transition: all .5s;
}

.dropdown-list li:hover {
  background: #393b3d;
  transition: all .5s;
}

.dropdown-list.clicked {
  display: none;
  transition: all .5s;
}
