.header {
  zoom: 75%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 12;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.navSocial a {
  text-decoration: none;
  color: white;
  font-size: 21px;
}

.navSocial {
  width: 15vw;
}

.navSocial svg {
  display: block;
}

.navSocial ul {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  float: right;
}

.navLogo {
  margin-right: 0;
}

.LogoImg {
  left: 59px;
  position: absolute;
  top: 5px;
}

.navLinks {
  width: 50vw;
}

.navLinks ul {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 70vw;
  float: left;
}

.navLinks li {
  display: block;
  width: auto !important;
  margin: 0 10px;
  text-align: center;
}

.navLinks li a:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-top: 7px solid #ff9400;
  border-radius: 0px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.navLinks a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 8px 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks a:hover {
  text-decoration: none;
}

.navLinks li active{
  background-color: rgba(0, 0, 0, 0.15);
  border-top: 7px solid #ff9400;
  border-radius: 0px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.navSocial {
  width: 15vw;
}

.navSocial ul {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  float: right;
}

.navSocial li {
  height: 38px;
  width: 38px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: #303030;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 140%;
  right: -125%;
  margin-left: -60px;
}

.tooltiptext:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #303030 transparent;
}

.navSocial li:hover {
  background-color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.navSocial li:hover a {
  color: #191919;
}

.navSocial li:hover .tooltiptext {
  opacity: 0.8;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.home {
  width:125%
}

.menuNew {
  height: 80px;
}

.bar {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 80px !important;
  background-color: orange !important;
}

