.modal {
    font-size:70%;
    color: white;
}

.fundoRoxo {
    background-color: rgb(68, 37, 113);
}

.modalTextTitle {
    color:white;
}

.modalTextConfirmacao {
    color: black;
    font-size: 150%;
    font-weight: normal;
}

.logoInscrever {
    height: 70px;
    width: 70px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.logoInscrever {
    height: 70px;
    width: 70px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.buttonModal {
    background-color: rgb(245, 161, 39);
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: none;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.buttonConfirmar {
    background-color: green !important;
}

.buttonPagamento {
    background-color: red !important;
}

.button_camisa {
    background-color: rgb(238, 238, 238);
    height: 30px;
    width: 30px;
    border-color: rgb(187, 183, 183);
}

.qrCode {
    height: 100px;
    width: 100px;
}

.aviso {
    font-size: 200%;
}

.modalText {
    font-size:150%;
    color: white;
}

.final {
    font-size: 200%;
}

.check {
    font-size: 20px;
    color: green;
}

.teste {
    font-weight: normal !important;
}