.modal {
    font-size:70%;
}

.button {
    background-color: orange;
}

.button_camisa {
    background-color: rgb(238, 238, 238);
    height: 30px;
    width: 30px;
    border-color: rgb(187, 183, 183);
}

.qrCode {
    height: 100px;
    width: 100px;
}

.aviso {
    font-size: 200%;
}